* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 30px;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 80px 0px 80px;
}


a {
    text-decoration: none;
    
}

.card {
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    border-radius: 4px;
    overflow: hidden;
    
}

.card-item {
    flex-basis: 33.33%;
    padding: 15px;
    
}

.card-image {
    height: 230px;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    height: 120px;
}

.card-title {
    color: #464646;
    font-size: 19px;
}

.card-description {
    color: #757575;
    font-size: 14px;
    padding-top: 20px;
    display: flex;
    justify-content:space-between;
}

.card i {
    color: yellow
}

.footer {
    background-color: #30598c;
    width: 100%;
}

.row2 {
    margin: 20px 80px 0px 80px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.col {
    color: white;
    padding: 50px 20px 20px 20px;
}

.col1 {
    width: 280px;
}

.col2 {
    width: 250px;
}

.col3 {
    width: 450px;
}

.col4 {
    width: 320px;
}

ul li {
    list-style-type: none;
    padding: 10px 0px;
    font-size: 14px;
}

ul li a, div a {
    text-decoration: none;
    color: white;
    
}

ul li a:hover, div a:hover {
    color: gray;
}

.header-footer {
    font-size: 18px;
}

.icon-footer span {
    margin: 100px 20px;
    font-size: 30px;
    color: white;
}

/* set style cho header */
.header {
    height: 62px;
    background-color: #30598c;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

.header-container {
    padding: 0 30px;
    height: 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sidebar {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
}
.avatar img {
   border-radius: 50%;
   height: 30px;
   object-fit: cover;
   width: 30px;
   margin-left: 40px;
}

.cart-icon {
    font-size: 20px;
    position: relative;
}

ul {
    list-style-type: none;
}

.menu ul li {
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 24px;
    font-size: 17px;
}

.cart-count {
    padding: 2px 5px;
    background-color: #26a69a;
    border-radius: 5px;
    position: absolute;
    top: 3px;
}